<div class="max-w-screen-md mx-auto animate-fly-in-bottom">
  <h1 class="text-2xl mb-8 mt-4">Create Post</h1>

  <form [formGroup]="form" class="flex flex-col gap-4 mb-4">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error>Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content" class="min-h-20"></textarea>
      <mat-error>Content is required</mat-error>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    color="primary"
    [disabled]="isLoading"
    (click)="onSubmitClicked()"
  >
    @if (!isLoading) { <span>Submit</span> } @else {

    <mat-spinner diameter="20"></mat-spinner>

    }
  </button>
</div>
