/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzFmOWQ5ZCIsIj9lcjwjYmNlMmUyIiwiO2VyPCMxMjgxODF$LCIlPmBePCM1ZGU2YjkiLCI~ZXI8I2NlZjhlYSIsIjtlcjwjNDFkYmEyfiwid2Fybj5gXjwjZmY0NDAwIiwiP2VyPCNmZmM3YjMiLCI7ZXI8I2ZmMmQwMH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz50cnVlLCJ2ZXJzaW9uPjEzfQ==
*/

@use "@angular/material" as mat;

// Foreground Elements

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);

$light-text: #ffffff;
$light-primary-text: $light-text;

// Compute font config
@include mat.core();

$mat-primary: (
  main: #1f9d9d,
  lighter: #bce2e2,
  darker: #128181,
  200: #1f9d9d,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #5de6b9,
  lighter: #cef8ea,
  darker: #41dba2,
  200: #5de6b9,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff4400,
  lighter: #ffc7b3,
  darker: #ff2d00,
  200: #ff4400,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);

$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

// Theme Init
@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
}
